* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

.cont-body {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,
            #009688 0%, #009688 15vh, #DCDBD1 15vh, #DCDBD1 100vh);
}


img {
    max-width: 100%;
    border-radius: inherit;
}

i:hover {
    color: rgb(218, 218, 218);
}

.container {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
}

.box-left {
    width: 35%;
    height: 100%;
    background-color: white;
}

.box-right {
    width: 65%;
    height: 100%;
}

.contacts {
    overflow-y: scroll;
    height: 64vh;
}

.contacts .user-box:hover {
    background-color: rgb(236, 236, 236);
}

.user-box {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color: #F3EEEA;
    cursor: pointer;
}

.bg-white {
    background-color: white;
}

.user-box a {
    margin-left: 10px;
    margin-right: 10px;
}

.box-notify {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    background-color: #b4e5fc;
    padding-left: 15px;
}

.box-notify i {
    margin-right: 5px;
}

.box-search {
    height: 8vh;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.box-search {
    position: relative;
}

input.font {
    padding-left: 30px;
}


.box-search input {
    border: none;
    width: 90%;
    height: 80%;

}


.bell {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: end;
    border-radius: 30px;
    background-color: white;
    color: #8EDAFC;
    margin-right: 10px;
}

.box-search i {
    margin-right: 5px;
}

.box-message {
    height: 74vh;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding-top: 15px;
}

.row-message {
    display: flex;
    width: 100%;
    min-height: 5vh;
    padding-left: 30px;
    padding-right: 30px;
}

.message-time {
    padding: 2px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.sent-message {
    background-color: #D5F9BA;
    min-height: 5vh;
    min-width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 15px 5px;
    max-width: 47%;
    position: relative;
    margin-bottom: 10px;

}

.reiceved-message {
    background-color: white;
    min-height: 5vh;
    min-width: 30%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 15px 5px;
    max-width: 47%;
    position: relative;
    margin-bottom: 10px;
}

.box-sendmessage {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EEEA;
    padding-left: 15px;
    padding-right: 15px;
}

.input-message {
    width: 80%;
    height: 70%;
    display: flex;
    
}

.input-message input {
    width: 100%;
    border: none;
        padding-left: 10px;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;

}

.margin-r {
    margin-right: 5px;
}

.stato-color {
    font-size: small;
    color: rgb(114, 114, 114);
}

.font-color {
    color: #B1B1B1;
}

.flex-end {
    justify-content: flex-end;
}

.bord-right-lightGray {
    border-right: 1px solid lightgray;
}

i {
    color: gray;
}